<ng-include src="'./app/menu.html'"></ng-include>
<!--
<form name="buscarForm">
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="btn-secondary btn" ng-click="buscar1()">
        <i class="fas fa-search"></i>
      </div>
      <input type="text" class="form-control" placeholder="Buscar"ng-model="buscar" name="buscar">
    </div>
  </div>
</form>
-->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 ng-show="filter==''"><i class="fas fa-stream"></i> Listado de usuarios</h1>
      <h1 ng-show="filter!=null && filter!=''"><i class="fas fa-stream"></i> Listado de {{pagina[0].tipo_usuario_obj.descripcion}}</h1>

      <div class="row">
        <div class="col">
          <nav aria-label="Paginación">
            <ul class="pagination">
              <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                ng-repeat="p in botonera track by $index">
               <!-- <a ng-show="filter==null" class="page-link" ng-if="p != '...'" href="usuario/plist/{{ rppActual }}/{{ p }}">{{ p }}</a> -->
                <a ng-show="filter!=null" class="page-link" ng-if="p != '...'" href="usuario/plist/{{ rppActual }}/{{ p }}/{{filter}}/{{buscar}}">{{ p }}</a>

                <span class="page-link" ng-if="p == '...'">{{ p }}</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col">
          <nav aria-label="Registros por página">
            <ul class="pagination float-right">
              <li class="page-item" ng-class="{'active':(rppActual==r)}" ng-repeat="r in rppS">
               <!-- <a ng-show="filter==null"class="page-link" href="usuario/plist/{{ r }}/1">{{ r }}</a>-->
                <a ng-show="filter!=null"class="page-link" href="usuario/plist/{{ r }}/1/{{filter}}/{{buscar}}">{{ r }}</a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Dni</th>
          <th>Nombre</th>
          <th>1r Apellido</th>
          <th>2n Apellido</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>Tipo de Usuario</th>
          <th>Facturas</th>
          <th>Acciones</th>
        </tr>
        <tr ng-repeat="fila in pagina">
          <td>{{ fila.id }}</td>
          <td>{{ fila.dni }}</td>
          <td>{{ fila.nombre }}</td>
          <td>{{ fila.apellido1 }}</td>
          <td>{{ fila.apellido2 }}</td>
          <td>{{ fila.login }}</td>
          <td>{{ fila.email }}</td>
          <td><a href="tipo_usuario/view/{{fila.tipo_usuario_obj.id}}">{{fila.tipo_usuario_obj.descripcion}}</a></td>
          <td>
            <a ng-if="fila.link_factura!=0" href="factura/plist/10/1/{{fila.id}}">{{fila.link_factura}}</a>
            <p ng-if="fila.link_factura==0">{{fila.link_factura}}</p>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-secondary" href="usuario/view/{{ fila.id }}"><i class="fas fa-eye"></i></a>
              <a class="btn btn-secondary" href="usuario/edit/{{ fila.id }}"><i class="fas fa-edit"></i></a>
              <a class="btn btn-secondary" href="usuario/remove/{{ fila.id }}"><i class="fas fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
      </table>

      <nav aria-label="Paginación">
        <ul class="pagination">
          <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
            ng-repeat="p in botonera track by $index">
            <a class="page-link" ng-if="p != '...'" href="usuario/plist/{{ rppActual }}/{{ p }}/{{filter}}/{{buscar}}">{{ p }}
            </a>
            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>