<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
  <div class="row">
    <div class="col">
      <h1><i class="fas fa-edit"></i> Editar un Factura</h1>
      <form name="userForm" ng-show="!fallo&&!hecho">
        <div class="form-group row">
          <label for="id" class="col-sm-2 col-form-label">Id:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="id" class="form-control" readonly />
          </div>
        </div>
        <div class="form-group row">
          <label for="titulo" class="col-sm-2 col-form-label">Fecha:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="fecha" class="form-control"
              ng-class="{ 'is-invalid' : !userForm.fecha.$valid && !userForm.fecha.$pristine}" name="fecha"
              ng-required="true" value="{{factura.fecha}}" />
            <div class="invalid-feedback" ng-show="userForm.fecha.$error.pattern">
              El operando introducido es incorrecto, sólo debe llevar números
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="iva" class="col-sm-2 col-form-label">Iva:</label>
          <div class="col-sm-10">
            <div class="form-group">
              <input type="text" class="form-control rounded-0" ng-model="iva" class="form-control"
                ng-class="{ 'is-invalid' : !userForm.iva.$valid && !userForm.iva.$pristine}" name="iva"
                ng-required="true" value="{{factura.iva}}"></textarea>
            </div>
            <div class="invalid-feedback" ng-show="userForm.op1.$error.pattern">
              El operando introducido es incorrecto, sólo debe llevar números
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="usuario_id" class="col-sm-2 col-form-label">Id usuario:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="usuario_id" class="form-control"
              ng-class="{ 'is-invalid' : !userForm.usuario_id.$valid && !userForm.usuario_id.$pristine}" name="usuario_id"
              ng-required="true" value="{{factura.usuario_id}}" />
            <div class="invalid-feedback" ng-show="userForm.usuario_id.$error.pattern">
              El operando introducido es incorrecto, sólo debe llevar números
            </div>
          </div>
        </div>
       

        <div class="float-right">
          <button type="button" class="btn btn-primary" ng-click="modificar()">Actualizar los datos</button>
        </div>

      </form>

      <div ng-show="!fallo&&hecho">
        <div class="alert alert-success text-center" role="alert">
          <h2>El Compra se ha actualizado con éxito</h2>
          <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
          <button class="btn btn-primary" ng-click="volver()">Volver</button>
        </div>
      </div>
      <div ng-show="fallo&&hecho">
        <div class="alert alert-danger text-center" role="alert">
          <h2>Ha ocurrido un error al actualizar el Compra</h2>
          <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
          <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
          <button class="btn btn-primary" ng-click="volver()">Volver</button>
        </div>
      </div>
      <div ng-show="fallo&&!hecho">
        <div class="alert alert-danger text-center" role="alert">
          <h2>Ha habido un error al recibir datos del Compra desde el servidor</h2>
          <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
          <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
          <button class="btn btn-primary" ng-click="volver()">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>