<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
    <div class="row">
        <h1 class="md-4"><i class="fas fa-eye"></i> Vista de producto</h1>
        <table class="table table-bordered table-hover" ng-show="!fallo">
            <tr>
                <th> Campo </th>
                <th> Valor </th>
            </tr>
            <tr>
                <th> Id: </th>
                <td> {{id}} </td>
            </tr>
            <tr>
                <th> Descripcion: </th>
                <td> {{descripcion}} </td>
            </tr>
            <tr>
                <th> Codigo: </th>
                <td> {{codigo}} </td>
            </tr>
            <tr>
                <th> Existencias: </th>
                <td> {{existencias}} </td>
            </tr>
            <tr>
                <th> Precio: </th>
                <td> {{precio}} </td>
            </tr>
            <tr>
                <th>Compras:</th>
                <td ng-show="link_compra==0">
                    {{link_compra}}
                </td>
                <td ng-show="link_compra!=0">
                    <a href="#!/compra/plist/10/1/{{id}}/producto">{{link_compra}}</a>
                </td>
            </tr>
            <tr>
                <th> Tipo producto: </th>
                <td> <a href="#!/tipo_producto/view/{{tipo_producto_obj.id}}">{{tipo_producto_obj.descripcion}}</a>
                </td>
            </tr>
            <tr>
                <th> Imagen: </th>
                <td> {{imagen}} </td>
            </tr>
        </table>
        <div class="col">
            <div class="float-right">
                <a type="button" class="btn btn-primary" href="#!/producto/edit/{{id}}"
                    ng-show="authStatus==200">Editar</a>
                <button type="button" class="btn btn-outline-dark" ng-click="volver()">Volver</button>
            </div>
        </div>
    </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>