<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
  <div class="row">
    <div class="col">
      <h1><i class="far fa-file"></i> Crear un Factura</h1>
      <form name="userForm" ng-show="!fallo&&!hecho">
         
            <div class="form-group row">
              <label for="titulo" class="col-sm-2 col-form-label">Fecha:</label>
              <div class="col-sm-10">
                  <md-datepicker ng-model="fecha" md-placeholder="Enter date"
                  ng-class="{ 'is-invalid' : !userForm.fecha.$valid && !userForm.fecha.$pristine}" name="fecha"
                  ng-required="true"></md-datepicker>
                <div class="invalid-feedback" ng-show="userForm.fecha.$error.pattern">
                  El operando introducido es incorrecto, sólo debe llevar números
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="iva" class="col-sm-2 col-form-label">Iva:</label>
              <div class="col-sm-10">
                <div class="form-group">
                  <input type="text" class="form-control rounded-0" ng-model="iva" class="form-control"
                    ng-class="{ 'is-invalid' : !userForm.iva.$valid && !userForm.iva.$pristine}" name="iva"
                    ng-required="true" value="{{factura.iva}}"></textarea>
                </div>
                <div class="invalid-feedback" ng-show="userForm.op1.$error.pattern">
                  El operando introducido es incorrecto, sólo debe llevar números
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="usuario_id" class="col-sm-2 col-form-label">Usuario:</label>
              <div class="col-sm-10">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="btn-secondary btn" data-toggle="modal" data-target="#modalUsuario">  
                              <i class="fas fa-search"></i>
                     </div>
                    </div>
                    <input type="text" ng-model="usuario_login" class="form-control"
                    ng-class="{ 'is-invalid' : !userForm.usuario_id.$valid && !userForm.usuario_id.$pristine}" ng-disabled= "id!=null" name="usuario_id"
                    ng-required="true" value="{{usuario_login}}" />              </div>
                  </div>
           
    
                  <usuariomodal class="modal fade" id="modalUsuario" idusuario="usuario_id" login="usuario_login"></usuariosmodal>
    
          </div>
        <div class="float-right">
          <button type="button" class="btn btn-primary" ng-click="guardar()">Crear nuevo compra</button>
        </div>
      </form>
      <div ng-show="!fallo&&hecho">
        <div class="alert alert-success text-center" role="alert">
          <h2>La factura se ha creado con éxito</h2>
          <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
          <button class="btn btn-primary" ng-click="volver()">Volver</button>
        </div>
      </div>
      <div ng-show="fallo&&hecho">
        <div class="alert alert-danger text-center" role="alert">
          <h2>Ha ocurrido un error al crear la factura</h2>
          <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
          <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
          <button class="btn btn-primary" ng-click="volver()">Volver</button>
        </div>
      </div>
      <div ng-show="fallo&&!hecho">
        <div class="alert alert-danger text-center" role="alert">
          <h2>Ha habido un error al recibir datos del Compra desde el servidor</h2>
          <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
          <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
          <button class="btn btn-primary" ng-click="volver()">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>