<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
  <div id="carta_producto" class="row" ng-repeat="producto in pagina">
    <div class="col-3">
      <img src='{{producto.imagen}}' height="180px" width="180px">
    </div>
    <div class="col-9" id="datos_ficha">
      <div id="cod_tipo">
        <p>{{producto.tipo_producto_obj.descripcion}}</p>
        <p class="font-weight-bold">{{producto.codigo}}</p>

      </div>
      <a href="#!/producto/view/{{producto.id}}">
        <h2>{{producto.descripcion}}</h2>
      </a>
      <p ng-show="producto.existencias <= 50" style="color: crimson"><strong>Solo nos queda(n) {{producto.existencias}}
          en stock</strong></p>
      <div id="cod_tipo">
        <p>Precio: {{producto.precio}}€</p>
        <form class="form-group row" id="cod_tipo">
          <div class="col-3"></div>
          <input class="col-3" type="number" value=1 ng-model="cantidad" id="example-number-input">
          <button type="button" class="btn btn-primary" ng-click="addCarrito(producto.id,cantidad)">Añadir al
            carrito</button>
        </form>
      </div>
    </div>
  </div>


  <br>
  <div class="row">
    <div class="col-md-12 ">
      <div class="btn-toolbar  justify-content-center">
        <nav aria-label="Paginación">
          <ul class="pagination">
            <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
              ng-repeat="p in botonera track by $index">
              <a class="page-link" ng-if="p != '...'" href="#!/home/{{ rppActual }}/{{ p }}">{{ p }}</a>
              <span class="page-link" ng-if="p == '...'">{{ p }}</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>