<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
  <div class="row">
    <div class="col">
      <h1><i class="fas fa-stream"></i> Listado de tipo_producto</h1>
      <div class="row">
        <div class="col">
          <nav aria-label="Paginación">
            <ul class="pagination">
              <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                ng-repeat="p in botonera track by $index">
                <a class="page-link" ng-if="p != '...'" href="#!/tipo_producto/plist/{{ rppActual }}/{{ p }}">{{ p }}</a>
                <span class="page-link" ng-if="p == '...'">{{ p }}</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col">
          <nav aria-label="Registros por página">
            <ul class="pagination float-right">
              <li class="page-item" ng-class="{'active':(rppActual==r)}" ng-repeat="r in rppS">
                <a class="page-link" href="#!/tipo_producto/plist/{{ r }}/1">{{ r }}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Descripcion</th>
          <th>Número de productos</th>
          <th>Acciones</th>

        </tr>
        <tr ng-repeat="fila in pagina">
          <td>{{ fila.id }}</td>
          <td>{{ fila.descripcion }}</td>
          <td><a href="#!/producto/plist/10/1/{{fila.id}}">{{ fila.link_producto}}</a></td>

         
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-secondary" href="#!/tipo_producto/view/{{ fila.id }}"><i class="fas fa-eye"></i></a>
              <a class="btn btn-secondary" href="#!/tipo_producto/edit/{{ fila.id }}"><i class="fas fa-edit"></i></a>
              <a class="btn btn-secondary" href="#!/tipo_producto/remove/{{ fila.id }}"><i class="fas fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
      </table>

      <nav aria-label="Paginación">
        <ul class="pagination">
          <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
            ng-repeat="p in botonera track by $index">
            <a class="page-link" ng-if="p != '...'" href="#!/tipo_producto/plist/{{ rppActual }}/{{ p }}">{{ p }}
            </a>
            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>