<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
    <div class="row">
        <h1 class="md-4"><i class="fas fa-eye"></i> Vista de Usuario</h1>
        <table class="table table-bordered table-hover" ng-show="!fallo">
            <tr>
                <th> Campo </th>
                <th> Valor </th>
            </tr>
            <tr>
                <th> Id: </th>
                <td> {{id}} </td>
            </tr>
            <tr>
                <th> Dni: </th>
                <td> {{dni}} </td>
            </tr>
            <tr>
                <th> Nombre: </th>
                <td> {{nombre}} </td>
            </tr>
            <tr>
                <th> Primer apellido: </th>
                <td> {{apellido1}} </td>
            </tr>
            <tr>
                <th> Segundo apellido: </th>
                <td> {{apellido2}} </td>
            </tr>
            <tr>
                <th> Nombre de Usuario: </th>
                <td> {{login}} </td>
            </tr> 
            <tr>
                <th> Email: </th>
                <td> {{email}} </td>
            </tr> 
            <tr>
                <th>Numero de facturas: </th>
                <td ng-show="link_factura!=0"><a href="factura/plist/10/1/{{id}}">{{link_factura}}</a></td>
                <td ng-show="link_factura==0">{{link_factura}} </td>
            </tr>
            <tr>
                   <th>Tipo de Usuario</th>
                   <td > <a href="tipo_usuario/view/{{tipo_usuario_obj.id}}">{{tipo_usuario_obj.descripcion}}</a> </td>
            </tr> 
        </table>
        <div class="col">
            <div class="float-right">
                <a type="button" ng-show="authUsername.tipo_usuario_obj.id==1" class="btn btn-primary" href="usuario/edit/{{id}}" ng-show="authStatus==200">Editar</a>
                <button type="button" class="btn btn-outline-dark" ng-click="volver()">Volver</button>
            </div>
        </div>
    </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>