<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
    <div class="row">
        <h1 class="md-4">Vista de producto</h1>
        <table class="table table-bordered table-hover" ng-show="!fallo">
            <tr>
                <th> Campo </th>
                <th> Valor </th>
            </tr>
            <tr>
                <th> Id: </th>
                <td> {{id}} </td>
            </tr>
            <tr>
                <th> Descripcion: </th>
                <td> {{descripcion}} </td>
            </tr>
            <tr>
                <th> Codigo: </th>
                <td> {{codigo}} </td>
            </tr>
            <tr>
                <th> Existencias: </th>
                <td> {{existencias}} </td>
            </tr>
            <tr>
                <th> Precio: </th>
                <td> {{precio}} </td>
            </tr>
            <tr>
                <th> Tipo producto: </th>
                <td> {{tipo_producto_obj.descripcion}} </td>
            </tr> 
            <tr>
                <th> Imagen: </th>
                <td> {{imagen}} </td>
            </tr> 
        </table>
        <div class="col">
            <div class="float-right">
                <a type="button" class="btn btn-primary" href="#!/producto/edit/{{id}}" ng-show="authStatus==200">Editar</a>
                <button type="button" class="btn btn-outline-dark" ng-click="volver()">Volver</button>
            </div>
        </div>
    </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>