<ng-include src="'./app/menu.html'"></ng-include>
<!--
<form name="buscarForm">
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="btn-secondary btn" ng-click="buscar1()">
        <i class="fas fa-search"></i>
      </div>
      <input type="text" class="form-control" placeholder="Buscar"ng-model="buscar" name="buscar">
    </div>
  </div>
</form>
-->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 ng-show="filter==null"><i class="fas fa-stream"></i> Listado de facturas</h1>
      <h1 ng-show="filter!=null" id="cod_tipo"><div><i class="fas fa-stream"></i> Facturas de {{pagina[0].usuario_obj.login}}</div> <a href="factura/new/{{ pagina[0].usuario_obj.id }}/usuario"class="btn btn-primary">Nuevo</a></h1>
    <br>
      <div class="row">
        <div class="col">
          <nav aria-label="Paginación">
            <ul class="pagination">
              <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                ng-repeat="p in botonera track by $index">
                <a class="page-link" ng-if="p != '...'" href="factura/plist/{{ rppActual }}/{{ p }}">{{ p }}</a>
                <span class="page-link" ng-if="p == '...'">{{ p }}</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col">
          <nav aria-label="Registros por página">
            <ul class="pagination float-right">
              <li class="page-item" ng-class="{'active':(rppActual==r)}" ng-repeat="r in rppS">
                <a class="page-link" href="factura/plist/{{ r }}/1">{{ r }}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Fecha</th>
          <th>Iva</th>
          <th ng-show="authUsername.tipo_usuario_obj.id==1">Usuario</th>
          <th>Linea de pedidos</th>
          <th>Acciones</th>
        </tr>
        <tr ng-repeat="fila in pagina">
          <td>{{ fila.id }}</td>
          <td>{{ fila.fecha }}</td>
          <td>{{ fila.iva }}</td>
          <td ng-show="authUsername.tipo_usuario_obj.id==1"><a href="usuario/view/{{fila.usuario_obj.id}}">{{ fila.usuario_obj.login }}</a></td>
          <td>
            <a ng-if="fila.link_compra!=0" href="compra/plist/10/1/{{fila.id}}/factura">{{ fila.link_compra}} </a>
            <p ng-if="fila.link_compra==0">{{fila.link_compra}}</p>
          </td>

          <td>
            <div class="btn-group" ng-show="authUsername.tipo_usuario_obj.id==1" role="group" aria-label="Basic example">
              <a class="btn btn-secondary"  href="factura/view/{{ fila.id }}"><i class="fas fa-eye"></i></a>
              <a class="btn btn-secondary" href="factura/edit/{{ fila.id }}"><i class="fas fa-edit"></i></a>
              <a class="btn btn-secondary" ng-click="print(fila)" href=""><i class="fas fa-print"></i> </a>
              <a class="btn btn-secondary" href="factura/remove/{{ fila.id }}"><i class="fas fa-trash-alt"></i></a>
            </div>
            <div class="btn-group" ng-show="authUsername.tipo_usuario_obj.id!=1" role="group" aria-label="Basic example">
              <a class="btn btn-secondary"href="compra/plist/10/1/{{ fila.id }}"><i class="fas fa-eye"></i></a>
            </div>
          </td>
        </tr>
      </table>

      <nav aria-label="Paginación">
        <ul class="pagination">
          <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
            ng-repeat="p in botonera track by $index">
            <a class="page-link" ng-if="p != '...'" href="factura/plist/{{ rppActual }}/{{ p }}">{{ p }}
            </a>
            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>