<ng-include src="'./app/menu.html'"></ng-include>
<!--
<form name="buscarForm">
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="btn-secondary btn" ng-click="buscar1()">
        <i class="fas fa-search"></i>
      </div>
      <input type="text" class="form-control" placeholder="Buscar"ng-model="buscar" name="buscar">
    </div>
  </div>
</form>
-->
<div class="container">
  <div class="row">
    <div class="col">
        <h1 ng-show="filter==null"><i class="fas fa-stream"></i> Listado de productos</h1>
        <h1 ng-show="filter!=null"><i class="fas fa-stream"></i> Listado de {{pagina[0].tipo_producto_obj.descripcion}}</h1>
      <br>
      <div class="row">
        <div class="col">
          <nav aria-label="Paginación">
            <ul class="pagination">
              <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                ng-repeat="p in botonera track by $index">
                <a ng-show="filter==null" class="page-link" ng-if="p != '...'" href="producto/plist/{{ rppActual }}/{{ p }}">{{ p }}</a>
                <a ng-show="filter!=null" class="page-link" ng-if="p != '...'" href="producto/plist/{{ rppActual }}/{{ p }}/{{filter}}">{{ p }}</a>
                <span class="page-link" ng-if="p == '...'">{{ p }}</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col">
          <nav aria-label="Registros por página">
            <ul class="pagination float-right">
              <li class="page-item" ng-class="{'active':(rppActual==r)}" ng-repeat="r in rppS">
                  <a ng-show="filter==null"class="page-link" href="producto/plist/{{ r }}/1">{{ r }}</a>
                  <a ng-show="filter!=null"class="page-link" href="producto/plist/{{ r }}/1/{{filter}}">{{ r }}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Descripcion</th>
        <th>Codigo</th>
        <th>Existencias</th>
        <th>Precio</th>
        <th>Tipo producto</th>
        <th>Compras</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
      <tr ng-repeat="fila in pagina">
        <td>{{ fila.id }}</td>
        <td>{{ fila.descripcion }}</td>
        <td>{{ fila.codigo }}</td>
        <td>{{ fila.existencias }}</td>
        <td>{{ fila.precio.toFixed(2) }}</td>
        <td><a href="tipo_producto/view/{{fila.tipo_producto_obj.id}}">{{fila.tipo_producto_obj.descripcion}}</a> </td>
        <td>
          <a ng-if="fila.link_compra!=0" href="compra/plist/10/1/{{fila.id}}/producto">{{fila.link_compra}} </a>
          <p ng-if="fila.link_compra==0">{{fila.link_compra}}</p>
        </td>
        <td><img src="{{fila.imagen}}" height="50px" width="50px"></td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-secondary" href="producto/view/{{ fila.id }}"><i class="fas fa-eye"></i></a>
            <a class="btn btn-secondary" ng-show="fila.canUpdate" href="producto/edit/{{ fila.id }}"><i class="fas fa-edit"></i></a>
            <a class="btn btn-secondary" ng-show="fila.canRemove" href="producto/remove/{{ fila.id }}"><i class="fas fa-trash-alt"></i></a>
          </div>
        </td>
      </tr>
    </table>

    <nav aria-label="Paginación">
      <ul class="pagination">
        <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
          ng-repeat="p in botonera track by $index">
          <a class="page-link" ng-if="p != '...'" href="producto/plist/{{ rppActual }}/{{ p }}">{{ p }}
          </a>
          <span class="page-link" ng-if="p == '...'">{{ p }}</span>
        </li>
      </ul>
    </nav>
  </div>
</div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>