<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>trollEYES: la tienda de DAW</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card-deck mt-4" ng-repeat="producto in pagina">
        <div class="card">
          <div class="card-header">
            <h5>
              <a href="#!/producto/view/{{producto.id}}">
                <span class="font-weight-bold">{{producto.descripcion}}</span>                
              </a>              
            </h5>
          </div>
          
          <div class="card-footer text-right">
            <p>{{producto.precio}}€</p>
            <p><img src='{{producto.imagen}}'width=150px img></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 ">
      <div class="btn-toolbar">
        <nav aria-label="Paginación">
          <ul class="pagination">
            <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
              ng-repeat="p in botonera track by $index">
              <a class="page-link" ng-if="p != '...'" href="#!/home/{{ rppActual }}/{{ p }}">{{ p }}</a>
              <span class="page-link" ng-if="p == '...'">{{ p }}</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>