<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
    <h2>Carro:</h2>
    <div id="carta_producto" class="row" ng-repeat="producto in carritoProducto">
        <div class="col-3">
            <img src='{{producto.imagen}}' height="180px" width="180px">
        </div>
        <div class="col-9" id="datos_ficha">
            <div id="cod_tipo">
                <p>{{producto.tipo_producto_obj.descripcion}}</p>
                <p class="font-weight-bold">{{producto.codigo}}</p>

            </div>
            <a href="#!/producto/view/{{producto.id}}">
                <h2>{{producto.descripcion}}</h2>
            </a>
            <p ng-show="producto.existencias <= 50" style="color: crimson"><strong>Solo nos queda(n)
                    {{producto.existencias}}
                    en stock</strong></p>

            <div id="cod_tipo">
                <p>Cantidad: {{producto.cantidad}} | Precio: {{producto.precio}}€</p>
                <div>
                    <form class="form-group row" id="cod_tipo">
                        <input class="col-3" type="number" value=1 min="0" ng-model="cantidad">
                        <button type="button" class="btn btn-primary col-4"
                            ng-click="addCarrito(producto.id,cantidad)">Añadir</button>
                        <button type="button" class="btn btn-danger col-4"
                            ng-click="delCarrito(producto.id,cantidad)">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="cod_tipo">
        <div>
            <button type="button" class="btn btn-danger" ng-click="vaciarCarrito()">Vaciar</button>
            <button type="button" class="btn btn-primary" ng-click="comprar()">Comprar</button>
        </div>
        <h3>Total:{{total}}€</h3>
    </div>
</div>