<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
    <h2>Carro:</h2>
    <div id="carta_producto" class="row" ng-repeat="producto in carrito">
        <div class="col-3">
            <img src='{{producto.producto_obj.imagen}}' height="180px" width="180px">
        </div>
        <div class="col-9" id="datos_ficha">
            <div id="cod_tipo">
                <p>{{producto.producto_obj.tipo_producto_obj.descripcion}}</p>
                <p class="font-weight-bold">Cod: {{producto.producto_obj.codigo}}</p>

            </div>
            <a href="#!/producto/view/{{producto.id}}">
                <h2>{{producto.producto_obj.descripcion}}</h2>
            </a>
            <p ng-show="producto.producto_obj.existencias <= 50" style="color: crimson"><strong>Nos queda(n)
                    {{producto.producto_obj.existencias}}
                    en stock</strong></p>

            <div id="cod_tipo">
                <p>Cantidad: {{producto.cantidad}} | Precio: {{producto.producto_obj.precio.toFixed(2)}}€</p>
                <div>
                    <form class="form-group row" id="cod_tipo">
                        <input class="col-3" type="number" min=1 ng-model="cantidad">
                        <button type="button" ng-disabled="(cantidad + producto.cantidad) > producto.producto_obj.existencias" class="btn btn-primary col-4"
                            ng-click="addCarrito(producto.id,cantidad)">Añadir</button>
                        <button type="button" class="btn btn-danger col-4"
                            ng-click="delCarrito(producto.id,cantidad)">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div ng-show="carrito.length == 0 || carrito== null">
        <h2>Mi carro me lo robaron</h2>
    </div>
    <div class="row" id="cod_tipo">
        <div>
            <button ng-disabled="carrito.length == 0 || carrito== null" type="button" class="btn btn-danger" ng-click="vaciarCarrito()">Vaciar</button>
            <button  ng-disabled="carrito.length == 0 || carrito== null" type="button" class="btn btn-primary" ng-click="comprar()">Comprar</button>
        </div>
        <h3>Total:{{total}}€</h3>
    </div>
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
</div>