<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 ng-show="filter1==null"><i class="fas fa-stream"></i> Listado de compras</h1>
      <h1 ng-show="filter1=='producto'"><i class="fas fa-stream"></i> Compras de {{pagina[0].producto_obj.descripcion}}</h1>
      <h1 ng-show="filter1=='factura'"><i class="fas fa-stream"></i> Compras de factura {{pagina[0].factura_obj.id}}</h1>

      <br>
      <div class="row">
        <div class="col">
          <nav aria-label="Paginación">
            <ul class="pagination">
              <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                ng-repeat="p in botonera track by $index">
                <a ng-show="filter==null" class="page-link" ng-if="p != '...'" href="#!/compra/plist/{{ rppActual }}/{{ p }}">{{ p }}</a>
                <a ng-show="filter!=null" class="page-link" ng-if="p != '...'" href="#!/compra/plist/{{ rppActual }}/{{ p }}/{{filter}}/{{filter1}}">{{ p }}</a>

                <span class="page-link" ng-if="p == '...'">{{ p }}</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col">
          <nav aria-label="Registros por página">
            <ul class="pagination float-right">
              <li class="page-item" ng-class="{'active':(rppActual==r)}" ng-repeat="r in rppS">
                <a ng-show="filter==null"class="page-link" href="#!/compra/plist/{{ r }}/1">{{ r }}</a>
                <a ng-show="filter!=null"class="page-link" href="#!/compra/plist/{{ r }}/1/{{filter}}/{{filter1}}">{{ r }}</a>

              </li>
            </ul>
          </nav>
        </div>
      </div>
      <table class="table">
        <tr>
          <th ng-show="authUsername.tipo_usuario_obj.id==1">Id</th>
          <th>Cantidad</th>
          <th>Producto</th>
          <th ng-show="authUsername.tipo_usuario_obj.id==1">Factura</th>
          <th>Acciones</th>
        </tr>
        <tr ng-repeat="fila in pagina">
          <td ng-show="authUsername.tipo_usuario_obj.id==1">{{ fila.id }}</td>
          <td>{{ fila.cantidad }}</td>
          <td><a href="#!/producto/view/{{fila.producto_obj.id}}">{{ fila.producto_obj.descripcion}}</a> </td>
          <td ng-show="authUsername.tipo_usuario_obj.id==1"><a href="#!/factura/view/{{fila.factura_obj.id}}">{{ fila.factura_obj.id }}</a></td>
         
          <td>
            <div class="btn-group" role="group" ng-show="authUsername.tipo_usuario_obj.id==1" aria-label="Basic example">
              <a class="btn btn-secondary" href="#!/compra/view/{{ fila.id }}"><i class="fas fa-eye"></i></a>
              <a class="btn btn-secondary" href="#!/compra/edit/{{ fila.id }}"><i class="fas fa-edit"></i></a>
              <a class="btn btn-secondary" href="#!/compra/remove/{{ fila.id }}"><i class="fas fa-trash-alt"></i></a>
            </div>
            <div class="btn-group" ng-show="authUsername.tipo_usuario_obj.id!=1" role="group" aria-label="Basic example">
              <a class="btn btn-secondary"href="#!/compra/view/{{ fila.id }}"><i class="fas fa-eye"></i></a>
            </div>
          </td>
        </tr>
      </table>

      <nav aria-label="Paginación">
        <ul class="pagination">
          <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
            ng-repeat="p in botonera track by $index">
            <a class="page-link" ng-if="p != '...'" href="#!/compra/plist/{{ rppActual }}/{{ p }}">{{ p }}
            </a>
            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>