<ng-include src="'./app/menu.html'"></ng-include>
<div class="container">
    <div class="row">
        <h1 class="md-4"><i class="fas fa-eye"></i> Vista de tipo_producto</h1>
        <table class="table table-bordered table-hover" ng-show="!fallo">
            <tr>
                <th> Campo </th>
                <th> Valor </th>
            </tr>
            <tr>
                <th> Id: </th>
                <td> {{id}} </td>
            </tr>
            <tr>
                <th> Descripcion: </th>
                <td> {{descripcion}} </td>
            </tr>
            <tr>
                    <th> Número de productos: </th>
                    <td ng-show="link_producto!=0"><a href="producto/plist/10/1/{{id}}">{{ link_producto}}</a> </td>
                    <td ng-show="link_producto==0">{{ link_producto}} </td>
                </tr>
          
        </table>
        <div class="col">
            <div class="float-right">
                <a type="button" class="btn btn-primary" href="tipo_producto/edit/{{id}}" ng-show="authStatus==200">Editar</a>
                <button type="button" class="btn btn-outline-dark" ng-click="volver()">Volver</button>
            </div>
        </div>
    </div>
</div>
<ng-include src="'./app/footer.html'"></ng-include>